{% load i18n %}
<style nonce="{{ csp_nonce }}">
   
</style>
{% if reload %}
<script type="text/javascript" nonce="{{ csp_nonce }}">
    const url = new URL(window.location.href);
    url.searchParams.set('paid', 'yes');
    window.location.href = url.href
</script>
<p class="title">{% trans "Processing payment" %}</p>
<div class="loader"></div>
{% else %}
<p class="title">
{% if retry %}
    {% trans "Last try rejected. Please check your entry and retry afterwards." %}
{% endif %}
</p>

<div id="sumup-card"></div>
</body>
<script
        type="text/javascript"
        nonce="{{ csp_nonce }}"
        src="https://gateway.sumup.com/gateway/ecom/card/v2/sdk.js"
></script>
<script type="text/javascript" nonce="{{ csp_nonce }}">
    var sumupConfig = {
        id: 'sumup-card',
        locale: '{{ locale }}',
        checkoutId: '{{ checkout_id }}',
        nonce: '{{ csp_nonce }}',
        email: '{{ email }}',
        onResponse: function (type, body) {
            console.log(type, body);
            const titleEl = document.querySelector('.title')
            if (type === 'sent') {
                titleEl.innerHTML = '{% trans "Processing payment" %}';
            } else if (type === 'success') {
                if (body.status === "FAILED") {
                    titleEl.innerHTML = '{% trans "Last try rejected. Please check your entry and retry afterwards." %}';
                } else if (body.status === "PAID") {
                    document.getElementById("sumup-card").innerHTML = '<div class="loader"></div>';
                    window.location.reload()
                } else {
                    window.location.reload()
                }
            } else if (type === 'invalid') {
                titleEl.innerHTML = '{% trans "Invalid card data. Please check your entry and retry afterwards." %}';
            }
        }
    };
    
    {% if google_pay_enabled and google_pay_merchant_id %}
    sumupConfig.googlePay = {
        merchantId: '{{ google_pay_merchant_id }}',
        merchantName: '{{ merchant_name }}'
    };
    {% endif %}
    
    SumUpCard.mount(sumupConfig);
    console.log('SumUpCard mounted with config:', sumupConfig);
</script>
{% endif %}
